<ion-content>
  <div class="options">
    <div class="option active" style="background-image:url(../../assets/image1.jfif);">
       <div class="shadow"></div>
       <div class="label">
          <div class="icon">
            <ion-icon name="walk-outline"></ion-icon>
          </div>
          <div class="info">
             <div class="main">Azure Mountains</div>
             <div class="sub">Azure Ridge National Park</div>
          </div>
       </div>
    </div>
    <div class="option" style="background-image:url(../../assets/image2.jfif);">
       <div class="shadow"></div>
       <div class="label">
          <div class="icon">
            <ion-icon name="snow-outline"></ion-icon>
          </div>
          <div class="info">
             <div class="main">Serenity Falls</div>
             <div class="sub">Serenity Falls National Park</div>
          </div>
       </div>
    </div>
    <div class="option" style="background-image:url(../../assets/image3.jfif);">
       <div class="shadow"></div>
       <div class="label">
          <div class="icon">
            <ion-icon name="bicycle-outline"></ion-icon>
          </div>
          <div class="info">
             <div class="main">Eternal Sands</div>
             <div class="sub">Eternal Sands National Park</div>
          </div>
       </div>
    </div>
    <div class="option" style="background-image:url(../../assets/image4.jfif);">
       <div class="shadow"></div>
       <div class="label">
          <div class="icon">
            <ion-icon name="bug-outline"></ion-icon>
          </div>
          <div class="info">
             <div class="main">Mystic Pines</div>
             <div class="sub">Mystic Pines National Park:</div>
          </div>
       </div>
    </div>
    <div class="option" style="background-image:url(../../assets/image5.jfif);">
       <div class="shadow"></div>
       <div class="label">
          <div class="icon">
            <ion-icon name="sunny-outline"></ion-icon>
          </div>
          <div class="info">
             <div class="main">Crystal Cove</div>
             <div class="sub">Crystal Cove National Park</div>
          </div>
       </div>
    </div>
 </div>

</ion-content>
